<h2>User info</h2>

  <%= attachment_image_tag user, :profile_image, :fill, 10, 10, format:'jpg', fallback: "no_image.jpg",size:'100x100' %>


<table class="table">
    <tbody>
      <tr>
          <th>name</th>
          <th><%= user.name %></th>
      </tr>
      <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
      </tr>
    </tbody>
</table>

<div class="row">
  <%= link_to icon("fas","user-cog") , edit_user_path(user), class: "btn btn-outline-secondary btn-block" %>
</div>